rngs/software/*.o
apps/*.o
apps/**/*.o
apps/swaptions/swaptions
apps/*.ppm
apps/*_results.txt
apps/*_results.csv
apps/sim.logcd
apps/sim.logpwd
.vscode/
.DS_Store
rngs/hardware/*.vcd
rngs/hardware/sim.log
rngs/hardware/synth.log
rngs/hardware/gatesim.log
rngs/hardware/*-sim
rngs/hardware/*-gatesim
rngs/hardware/*.netlist.v
